// Tried the images but they will not work
.card {
    margin: 0 auto;

    p {
        font-size: 15px;
        color: #f5f1f1;
    }

    button {
        width: 100%;
    }
}
// .projImg {
//     width: 100px;
//     height: 100px;
//     display: block;
//     position: relative;
//     z-index: 9999;
// }
